body {
  --body-bg: #ffffff;
  --body-fg: #4d4d4d;
  --body-lfg: #e0e0e0;
  --body-sfg: #272727;

  @media (prefers-color-scheme: dark) {
    --body-bg: #202020;
    --body-fg: #cacaca;
    --body-lfg: #5b5b5b;
    --body-sfg: #fbfbfb;
  }

  margin: 0;
  padding: 0;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family:
    Open Sans,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    sans-serif;
  background-color: var(--body-bg);
}

a {
  color: var(--body-fg);
}

a:hover {
  color: var(--body-sfg);
  text-decoration-thickness: 2px;
}

a:visited {
  color: var(--body-fg);
}

/* header */

header {
  margin: 0;
  padding: 1.6em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--body-sfg);
}

header > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
  align-items: center;
}

header > ul > li > a {
  margin: 0;
  padding: 1em 0;
  font-size: 0.95rem;
}

/* main */

main {
  margin: 0;
  padding: 2em;
  display: grid;
  place-items: center;
}

main > div {
  max-width: 32em;
  padding: 0 0 2em 0;
}

main > div > h2 {
  margin: 0;
  padding: 0 0 1em 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--body-fg);
}

main > div > h2 > span {
  display: block;
  margin-bottom: 0.2em;

  font-size: 4rem;
  font-weight: 800;
  color: var(--body-sfg);
  background: -webkit-linear-gradient(#ff416c, #ff4b2b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main > div > p {
  margin: 0;
  padding: 0 0 1em 0;
  font-weight: 400;
  line-height: 1.24rem;
  color: var(--body-fg);
}

main > div > p > a, main > div > p > a:hover, main > div > p > a:visited {
  color: var(--body-fg);
}

main > div > p > a:hover {
  text-decoration-thickness: 2px;
}

main > div > p > strong {
  font-weight: 500;
  color: var(--body-sfg);
}
