body {
    --body-bg: #ffffff;
    --body-fg: #4d4d4d;
    --body-lfg: #e0e0e0;
    --body-sfg: #272727;

    @media (prefers-color-scheme: dark) {
        --body-bg: #202020;
        --body-fg: #cacaca;
        --body-lfg: #5b5b5b;
        --body-sfg: #fbfbfb;
    }

    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, avenir next, sans-serif;
    background-color: var(--body-bg);
}

/* header */

header {
    margin: 0;
    padding: 1.6em 1.4em;
    display: flex;
    justify-content: space-between;
}

header > h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: normal;
    color: var(--body-fg);
    user-select: none;
}

header > nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

header > nav > ul > li > a {
    margin: 0;
    padding: 1em;
    font-size: small;
    text-decoration: none;
    color: var(--body-fg);
}

header > nav > ul > li > a:hover {
    color: var(--body-sfg);
    text-decoration: underline;
}

/* main */

main {
    margin: 0;
    padding: 1.4em;
    display: grid;
    place-items: center;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
}

main > section > img {
    padding: 0;
    max-height: 8em;
    border-radius: 4em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    user-select: none;
}

@media screen and (min-width: 900px) {
    main > section {
        align-items: center;
        flex-direction: row;
        gap: 6em;
    }

    main > section > img {
        max-height: 22em;
        border-radius: 20em;
        border: 1px solid var(--body-fg);

    }

}

@media (prefers-color-scheme: dark) {
    main > section > img {
        box-shadow: 7px 10px 33px -3px rgba(127,0,255,0.5);
        -webkit-box-shadow: 7px 10px 33px -3px rgba(127,0,255,0.5);
        -moz-box-shadow: 7px 10px 33px -3px rgba(127,0,255,0.5);
    }
}

main > section > div {
    max-width: 24em;
    text-align: left;
}

main > section > div > p {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    color: var(--body-fg)
}

main > section > div > p > span {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 3em;
    font-weight: 600;
    color: var(--body-sfg);
    background: -webkit-linear-gradient(#E100FF, #7F00FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > section > div > p > strong {
    color: var(--body-sfg);
}